.not-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    @media (max-width: 990px) {
        margin-top: 80px;
    }
    .title-not {
        color: #6D3E9A;
        font-size: 10rem;
        font-weight: bold;
        @media (max-width: 990px) {
            font-size: 7rem;
        }
    }
    .text-not {
        font-size: 1rem;
        color: #282828;
        margin-bottom: 30px;
    }
}